@{
    ViewData["Title"] = "Trang Chủ";
}

<div class="text-left">
    <h1 class="display-4">Đây là Trang Chủ</h1>
    <p>Hoàng Dương Khánh - CNTT - K19C</p>
    <h2 class="display-4 font-weight-bold">Hy vọng cứu người nhạt dần, hơn 12.000 người tử vong do động đất Thổ Nhĩ Kỳ - Syria</h2>
    <p>
        Số người thiệt mạng tại Thổ Nhĩ Kỳ và Syria sau các trận động đất đã tăng lên ít nhất 12.049 người và hy vọng tìm thấy người sống sót dưới đống đổ nát đang nhạt dần.
    </p>
    <p>
        Báo The Guardian dẫn tin từ cơ quan phòng vệ dân sự của Syria cho biết, có 2.992 người ở khu vực tây bắc nước này đã thiệt mạng vì động đất, hơn 2.850 người khác bị thương. Trước đó, Tổng thống Thổ Nhĩ Kỳ Tayyip Erdogan nói, số người tử vong ở nước này đã chạm tới con số 9.057.
    </p>
    <p>
        Các nhân viên cứu hộ tại Kahramanmaras, Thổ Nhĩ Kỳ cho biết, họ có thể ngửi thấy mùi tử khí khi đào bới đống đổ nát ở trung tâm thị trấn, nơi hiện giờ đã bị động đất và những đợt dư chấn tàn phá tới mức nhiều tòa nhà đã hoàn toàn đổ sập.
    </p>
    <p>
        "Chúng tôi hy vọng vẫn còn hai người sống sót dưới đó", Zafer Yildiz - một người tình nguyện chỉ tay về phía đống bê tông, kim loại bị vặn xoắn và nói. Ông cho hay: "Hầu hết những người chúng tôi tìm thấy dưới đống đổ nát đều đã chết".
    </p>
    <p>
        Mehmet Boskert cẩn thận lấy một quyển sách cầu nguyện khỏi phần còn lại của một tòa nhà cao tầng khi đào bới đống đổ nát bằng tay không với hy vọng tìm thấy anh trai và chị dâu mình còn sống.
    </p>
    <p>
        "Sau khi tôi thoát khỏi ngôi nhà đã sập của mình, tôi đã tới đây và cố gắng tìm kiếm họ. Tôi chỉ có thể hy vọng, nhưng dường như đã quá muộn. Các đội cấp cứu đã tới quá muộn và mãi tới hôm nay họ mới mang máy đào tới. Tôi hy vọng họ có thể làm được điều gì đó", người đàn ông này nói.
    </p>
    <p>
        Tổng thống Thổ Nhĩ Kỳ đã tới thăm tỉnh Hatay, nơi bị ảnh hưởng nặng nề nhất vì động đất với hơn 3.300 người thiệt mạng, toàn bộ khu vực lân cận bị phá hủy.
    </p>
    <p>
        Ông thừa nhận những thiếu sót trong việc ứng phó với trận động đất 7,8 độ. Động đất đã phá hủy đường băng ở sân bay Hatay càng làm gián đoạn việc ứng phó. Ông Erdogan nói: "Không thể chuẩn bị cho một trận động đất như vậy. Chúng tôi sẽ không bỏ mặc bất cứ người dân nào".
    </p>
    <p>
        Đội cứu hộ từ hơn hai chục quốc gia đã tham gia tìm kiếm nạn nhân cùng với hàng nghìn nhân viên cấp cứu địa phương ở Syria và Thổ Nhĩ Kỳ. Tuy nhiên, quy mô tàn phá của động đất và những đợt dư chấn mạnh của nó quá lớn và trải dài trên một khu vực rộng lớn, gồm cả khu vực bị cô lập bởi cuộc nội chiến đang diễn ra ở Syria, khiến nhiều người vẫn đang chờ sự giúp đỡ.
    </p>
    <p>
        Các chuyên gia cho hay, cơ hội sống sót của những người mắc kẹt dưới đống đổ nát đang thu hẹp nhanh chóng. Tuy nhiên, theo họ vẫn còn quá sớm để từ bỏ hy vọng.
    </p>
    <p>
        Steven Godby, chuyên gia về các mối nguy hiểm tự nhiên tại Đại học Nottingham Trent ở Anh nói: "72h đầu tiên được coi là vô cùng quan trọng. Tỷ lệ sống trung bình trong vòng 24h là 74%, sau 72h chỉ còn 22% và tới ngày thứ năm chỉ còn 6%".
    </p>
</div>
