@{
    ViewData["Title"] = "Sản Phẩm";
}

<div class="text-center">
    <h1 class="display-4">Đây là Trang Sản Phẩm</h1>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3">
        <div class="container">
            <a class="nav-link text-dark" asp-area="" asp-controller="SanPhams" asp-action="Create">Thêm</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SanPhams" asp-action="Edit">Sửa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="SanPhams" asp-action="Delete">Xóa</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

